@use '@angular/material' as mat;
@import 'src/styles.scss';

.navbar {
  @include mat.elevation(6);

  a {
    font-size: 1.0em;
  }
}

.logo {
  max-width: 2.5em;
  font-size: 1.2em;
}

.app-title {
  font-size: 1.25em;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: $desktop-min-screen-size) {
  .desktop-options {
    display: none;
  }
}

@media only screen and (min-width: $desktop-min-screen-size) {
  .mobile-menu {
    display: none;
  }
}