@use '@angular/material' as mat;

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  @include mat.elevation(3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
  
  width: 195px;
  height: 115px;
}