<h1>Solar Panel Overview</h1>
<div class="widgets">
  <mat-card id="current-power" class="card">
    <mat-card-content>
      <sunnypi-number-bar-widget [title]="'Current Solar Power'"
                                 [value]="pvPower"
                                 [maxValue]="pvPowerMax"
                                 [units]="pvPowerUnits"></sunnypi-number-bar-widget>
    </mat-card-content>
  </mat-card>

  <mat-card  class="card">
    <mat-card-content>
      <sunnypi-number-bar-widget [title]="'Power Generated Today'"
                                 [value]="pvEnergyToday"
                                 [units]="pvEnergyTodayUnits"
                                 [showBar]="false"></sunnypi-number-bar-widget>
    </mat-card-content>
  </mat-card>

  <mat-card  class="card">
    <mat-card-content>
      <sunnypi-number-bar-widget [title]="'Total Power Generated'"
                                 [value]="pvEnergyTotal"
                                 [units]="pvEnergyTotalUnits"
                                 [showBar]="false"></sunnypi-number-bar-widget>
    </mat-card-content>
  </mat-card>
</div>