@import 'src/styles.scss';

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex-grow: 0;
  flex-shrink: 0;
}

.app-body {
  margin: 1em;
  flex-grow: 1;
  background-color: $light-background;
}